<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" href="/Css/about.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="   sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>


<header>
	<%- include('partials/header') %>
  <div class="title">
			<p>OUR MISSION</p>
			<h1>Shaping the future of food</h1>
		</div>
  </header>

<div class="jumbotron">
		<div class="design"style="text-align: center;">
		<h1 id="welcome">WELCOME!</h1>
		<p id="Who">Who We Are!</p>
		<p id="data">“FoodBite 24/7 is young fast growing company that works to make your life easier. We take responsibility for making sure that your orders from restaurants are delivered to you safely and quickly.”</p>
		</div>
	</div>

	<div class="container">
	<div class="container">
		<h1>Our goal is to change what you eat</h1>
		<p>Changing how you eat is just a means to an end.</p>
	</div>

		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <div class="carousel-caption d-none d-md-block">
		       <p>"FOODBite 24/7 has the best application for online ordering.Fantastic choice of restaurants,low delivery price and great customer service".</p>
              </div>
		    </div>
		    <div class="carousel-item">
		      <div class="carousel-caption d-none d-md-block">
        		<p>"This website is very to navigate,serive was prompt and very pleasant.Once logged in, you can easily navigate around the site to complete your order".</p>
      		</div>
		    </div>
		    <div class="carousel-item">
		      	<div class="carousel-caption d-none d-md-block">
        			<p>"We’re working with many restaurants in your city to put food all in one place.This allows you to order quickly and easily. Accessible at any time".</p>
        		</div>
		    </div>
		  </div>

		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
	</div>
</div>
<hr>


<section class="my-5">
     <h2 class="text-center">WHY PEOPLE CHOOSE US</h2>
  	<hr>
	<div class="container-fluid">
	  <div class="row">
	    	<div class="col-lg-6 col-md-6 col-12">
	      		 <img src="images/back1.webp" class="img-fluid aboutimg" style="width: 85%; height: 270px;">
	    	</div>
	    	<div class="col-lg-6 col-md-6 col-12">
		       <h2 class="display-4">Improving quality of food</h2>
		       <p class="py-3">
		       We are committed to nurturing a neutral platform and are helping food establishments maintain high standards through Hyperpure. Food Hygiene Ratings is a coveted mark of quality among our restaurant partners.
		       </p>
	    	</div>
	  	</div>

 	 <div class="container-fluid">
 		 <div class="row">
  			<div class="col-lg-6 col-md-6 col-12">
  			<h4 class="display-4">Accessibility</h4>
			</div>
		<div class="col-lg-6 col-md-6 col-12">
			  <p class="py-3">
			  Boosting accessibility for customers
			 Our delivery service is reaching more and more cities. We are actively growing our services - table reservation, food@work for corporate catering and are continuing to power Feeding India.

			</p>
		</div>
		</div>

	<div class="container-fluid">
 		 <div class="row">
  			<div class="col-lg-6 col-md-6 col-12">
			  <p class="py-3">
			  Assortment
			Driving the force of assortment
			For over a decade now, we’ve been empowering our users in discovering new tastes and experiences across countries. By putting together meticulous information for our users, we enable them to make an informed choice.
			</p>
			</div>

			<div class="col-lg-6 col-md-6 col-12">
		  		<h4 class="display-8">"Resilience,We push ourselves beyond our abilities when faced with tough times. When we foresee uncertainty, we address it only with flexibility".</h4>
			</div>
		</div>
</section>


<%- include('partials/footer') %>

<script type="text/javascript">
$(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
